<h3>Diagramme interactif, un exemple complet</h3>

<ul>
  <li><em>Ne prends pas en compte les événements mobiles</em></li>
  <li>Ajout/suppression de nœuds</li>
  <li>Possibilité de renommer un nœud en double cliquant dessus</li>
  <li>Ajout/suppression de liens</li>
  <li>Possibilité de déplacer la viewBox avec un drag&drop dans le vide</li>
  <li>Possibilité zoomer/dézoomer avec le range input</li>
</ul>

<lcd-code-reader path="./app/features/05-diagram/diagram/diagram.component">
  <lcd-diagram />
</lcd-code-reader>
<lcd-code-reader
  [supportedExtension]="['ts', 'svg', 'scss']"
  path="./app/features/05-diagram/diagram/arrow/arrow.component" />
<lcd-code-reader
  [supportedExtension]="['ts', 'svg', 'scss']"
  path="./app/features/05-diagram/diagram/node/node.component" />
<lcd-code-reader [supportedExtension]="['ts']" path="./app/features/05-diagram/diagram/diagram.store" />

<div class="controls">
  <button routerLink="../04-cubic-bezier">Précédent</button>
</div>
