<h3>Exemple d'un diagramme de dépendances</h3>

<p>
  Cet exemple montre comment l'association entre SVG et HTML permet de construire un diagramme dynamique mais pas
  interactif.
</p>

<div class="selectors">
  <div class="selector">
    <label><input type="checkbox" [(ngModel)]="spaceArrowsValue" /> Centrer les flèches sur les nœuds </label>
  </div>
  <div class="selector">
    <ng-container *ngFor="let arrowShape of arrowShapes">
      <label>
        <input type="radio" name="arrowShape" [value]="arrowShape" [(ngModel)]="arrowShapeValue" /> {{ arrowShape }}
      </label>
    </ng-container>
  </div>
</div>

<lcd-code-reader path="./app/features/03-static-graph/static-diagram/static-diagram.component">
  <lcd-static-diagram [spaceArrows]="spaceArrowsValue" [arrowShape]="arrowShapeValue" />
</lcd-code-reader>

<div class="controls">
  <button routerLink="../02-component-svg">Précédent</button>
  <button routerLink="../04-cubic-bezier">Suivant</button>
</div>
