<div class="content">
  <ng-content></ng-content>
</div>

<ul>
  <li
    *ngFor="let extension of supportedExtension"
    (click)="toggleActive(extension)"
    [class.active]="active === extension">
    {{ extension | uppercase }}
  </li>

  <span>{{ name }}</span>
</ul>

<ng-container [ngSwitch]="active">
  <ng-container *ngFor="let extension of supportedExtension">
    <markdown
      *ngSwitchCase="extension"
      [src]="path + '.' + extension"
      clipboard
      lineNumbers
      lineHighlight
      [line]="highlight?.[extension]"></markdown>
  </ng-container>
</ng-container>
