<h3>Introduction</h3>

<p>
  Besoin de faire des schémas&nbsp;?
  <br />
  Il doit être dynamique&nbsp;?
  <br />
  Interactible&nbsp;?
  <br />
</p>

<p>
  Je vais essayer de vous montrer comment réaliser ce genre de besoin sans librairie. <br />
  <strong>Juste avec Angular et SVG.</strong>
</p>

<h3>Qu'est-ce que l'on va voir&nbsp;?</h3>

<ol>
  <li>Qu'apporte SVG à HTML&nbsp;?</li>
  <li>Comment se marie Angular avec de l'SVG&nbsp;?</li>
  <li>Petit exemple de diagramme statique</li>
  <li>Comment gérer les intéractions avec SVG&nbsp;?</li>
  <li>Tout ensemble&nbsp;!</li>
</ol>

<h3>Récupérer cette formation</h3>

<p>Vous pouvez retrouver cette présentation ici&nbsp;:</p>

<a class="qr-code" href="https://svg.projects.lets-code.fr" target="_blank">
  <img ngSrc="./app/features/00-intro/qr-code-svg.png" alt="qr code de la présentation" height="300" width="300" />
  <legend>svg.projects.lets-code.fr <i class="ri-external-link-line"></i></legend>
</a>

<p>
  Les sources sont disponibles ici&nbsp;: <br />
  <a href="https://github.com/asirko/lc-diagram" target="_blank">
    github.com/asirko/lc-diagram <i class="ri-external-link-line"></i>
  </a>
</p>

<h3>Qui suis-je&nbsp;?</h3>

<h5>
  <a href="https://www.alexandre.lets-code.fr/" target="_blank">
    Alexandre Sirko <i class="ri-external-link-line"></i>
  </a>
</h5>

<ul>
  <li>je développe professionnellement depuis 2013 </li>
  <li>j'ai commencé en tant que Back Java pour Sopra</li>
  <li>puis Front (AngularJS, BackboneJS, Angular)</li>
  <li>je suis passé par la société Jump où j'ai été Lead Frontend</li>
  <li>j'ai aussi pu y faire pas mal de JavaScript Backend (NestJS en monorepo avec Nx et Angular)</li>
  <li>indépendant depuis le début de cette année</li>
</ul>

<div class="controls">
  <div></div>
  <button routerLink="../01-svg-example">Suivant</button>
</div>
