.row {
  display: flex;
  gap: var(--space-l);
  justify-content: space-evenly;
}

.qr-code {
  display: inline-block;

  legend {
    position: relative;
    top: calc(-1 * var(--space-l));
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}
