.selectors {
  margin: var(--space-m) 0;
}

.selector label {
  margin-right: var(--space-s);
}

label {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .selectors label {
    display: block;
  }
}
