:host {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

svg {
  border: 1px solid black;
}

line {
  stroke: red;
  stroke-width: 1;
}

path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem 2rem;
}

td {
  width: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    align-items: center;
  }
}
