<h3>Pourquoi SVG&nbsp;?</h3>

<lcd-code-reader
  [supportedExtension]="['html', 'scss']"
  path="./app/features/01-svg-example/basic-example/basic-example.component">
  <lcd-basic-example />
</lcd-code-reader>

<h4>HTML n'est pas adapté pour tout&nbsp;!</h4>

<p>
  SVG est fait pour dessiner&nbsp;! <br />
  Comment faire des courbes en pur HTML&nbsp;? <br />
  Faire un PieChart&nbsp;? <br />
</p>

<h4>Pourquoi pas des canvas&nbsp;?</h4>

<p>
  Les canvas sont des images, pas du texte. <br />
  Pas de possibilité de sélectionner du texte, de le copier <br />
  Pas simple de gérer l'accessibilité <br />
  Pas de possibilité de le modifier avec du CSS. <br />
  Moins familier pour les développeurs web <br />
</p>

<p><em>Par contre SVG ne fait pas le café&nbsp;! C'est pas pour tout.</em></p>

<div class="controls">
  <button routerLink="../00-intro">Précédent</button>
  <button routerLink="../02-component-svg">Suivant</button>
</div>

<footer class="resources">
  <ul>
    <li><a target="_blank" href="https://css-tricks.com/when-to-use-svg-vs-when-to-use-canvas/">SVG vs Canvas</a></li>
    <li><a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutorial">Les bases (MDN)</a></li>
    <li>
      <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/SVG/Tutorial/Basic_Shapes">
        Forme basiques (MDN)
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.julienpradet.fr/tutoriels/optimiser-le-chargement-des-icones">
        Usage d'SVG à la place d'une police d'icônes
      </a>
    </li>
  </ul>
</footer>
